
/*border*/
.top-line {
    border-top: 1upx solid #eee;
}
.bottom-line {
    border-bottom: 1upx solid #eee;
}
.right-line {
    border-right: 1upx solid #eee;
}
/*文本*/
.text-orange2 {
    color: #f50;
}

.circle-corner {
    overflow:hidden;
    border-radius: 10px;
}

.bg-yellow2 {
    background-color: #ffdf40;
}


.min-height35 {
    min-height: 35px;
}
.min-height40 {
    min-height: 40px;
}

.max-height35 {
    max-height: 35px;
}

.bottom-fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.width100 {
    width: 100%;
}

.my-bar {
    min-height: 100upx;
}

.text-left{
    text-align: left;
}

/*文字*/
.font-size12{
    font-size: 12px;
}
.font-size13 {
    font-size: 13px;
}
.font-size15 {
    font-size: 15px;
}
.font-size20 {
    font-size: 20px;
}
.font-size21 {
    font-size: 21px;
}

/*padding*/
.padding-lr50 {
    padding: 0px 50px
}
.padding-lr30 {
    padding: 0px 30px
}
